<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>联系我们</title>
<link href="../css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="contact">
  <div class="header">
    <div class="top-pic"> <a href="#"><img src="../images/er_icon.png"></a> <a href="#"><img src="../images/Android_icon.png"></a> <a href="#"><img src="../images/Ios_icon.png"></a> </div>
    <div class="inner">
      <div class="logo"><a href="#"><img src="../images/logo.png"></a></div>
      <ul>
        <li><a href="../index.html">首页</a></li>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="#">全国服务热线/400-017-5886</a></li>
      </ul>
    </div>
  </div>
  <div class="banner">
    <div class="inner">
      <a href="#"> <img src="../images/about_banner.png"> </a>
    </div>
  </div>
  <div class="main">
    <div class="one">
      <h1>关于我们</h1>
      <p>北京哈哈镜电子商务有限公司是一家致力于服务广大消费者的休闲食品垂直购物平台，哈哈镜的目标是给广大消费者带来更健康、更便利、更优质的生活。哈哈镜电商公司的商业运作模式集传统行业运营和现代商业思想为一体，将B2C、O2O、F2C等电子商务新理念和传统食品加工产业资源优势、地面渠道优势而进行全面整合，对于产品、服务、成本、物流进行重新定义，目前哈哈镜电子商务加盟模式是国际上最领先的电子商务商业模式之一。</p>
      <p>哈哈镜品牌创建于2003年至今已经有8年的历史，哈哈镜品牌经过多年的口碑和荣誉的积淀，如今已经成为北京休闲食品的知名品牌，产品主要面向中高端客户。哈哈镜品牌产品主营鸭系列、海鲜、寿司、泡菜、卤制品等几个大类的休闲食品。哈哈镜系列产品在北京市场上不但有着较为广泛的知名度而且广受客户好评：连续三年在大众点评网同类产品评比第一名。在客户中“哈哈镜，味道永远那么正！”这句话已被广为流传。</p>
      <p style="border-bottom:0px">哈哈镜品牌食品已成为北京市场休闲食品的领军品牌，市场份额持续稳定增长。由于大众对哈哈镜产品的衷爱，产品持续热销，所以哈哈镜的产品一直处于供不应求的状态。为了更好的满足巨大的市场需求，哈哈镜将在保证产品质量的同时，进一步提高产能，尽量满足所有喜爱哈哈镜的消费者。届时，哈哈镜产品将凭借出众的口味和品质强势占领国内中高端市场。同时，哈哈镜电子商务公司将真正完成由传统食品加工型企业向现代科技公司的转型，并将建成为国内最便捷的百姓生活购物平台。
        哈哈镜品牌食品在北京市场已占据主导地位，市场份额持续稳定增长.因为大众对哈哈镜产品的衷爱，使哈哈镜的产品一直处于供不应求的状态。为了更好的满足巨大的市场需求，哈哈镜将在保证产品质量的同时，进一步提高自己品牌产品的产能。</p>
    </div>
    <div class="two">
      <h1>联系我们</h1>
      <h2>客服服务</h2>
      <p>您在购物过程中如有任何问题，都可拨打“哈哈镜”客服电话或微信咨询我们的在线客服人员。</p>
      <h2>在线客服</h2>
      <p>客服热线<a href="#">：400-017-5886</a></p>
      <p>咨询加盟<a href="#">：400-017-5886 转 1</a></p>
      <p>咨询加盟时间：（ 请在工作日9:00至16:00拨打 ）</p>
      <h2>商务合作</h2>
      <p>邮箱：<a href="#">dsmarketing@hahjing.com</a></p>
      <p>温馨提示：寻求合作的邮件，如商务合作内容符合我们的平台，哈哈镜会有商务专员与您联系，请您耐心等待。</p>
    </div>
    <div class="two">
      <h1 style="font-weight:normal">配送须知</h1>
      <h2>配送方式</h2>
      <p>当您在网店成功提交订单后，店家会即时为您的订单备货；如发现有个别缺货或其他问题，店家会即时与您电话联系，请保持电话畅通。</p>
      <h2>送货上门</h2>
      <p>货品备好后，您会收到‘您的订单已发货’提示，同时店家会指派配送员为您即时送货上门。</p>
      <h2>到店自提</h2>
      <p>货品备好后，您会收到‘您的订单已发货’提示，请您在商家营业时间内尽快到店面取货。</p>
      <h3>温馨提示: 各网店的配送距离，会因各店实际配送能力有所不同，请您注意店内详情提示</h3>
    </div>
  </div>
  <div class="footer">
    <div class="inner"> <img src="../images/logo_icon.png">
      <p>北京哈哈镜电子商务有限公司</p>
      <p>哈哈镜©京ICP备12004406号  IDC提供商 数据家</p>
    </div>
  </div>
</div>
</body>
</html>
