<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>招募精英</title>
<link href="../css/base.css" rel="stylesheet" type="text/css">
<script src="../js/jquery-3.1.0.min.js"></script>
<script>
	$(function(){
		var onOff=true;
		$(".main .cont li div:nth-child(1)").click(function(){
			
			var next = $(this).next();
			if(!next.is(":visible")){
				$(this).addClass("active");
				$(".text").slideUp();
				next.slideDown();
			}else{
				$(this).removeClass("active");
				next.slideUp();	
			}
		})
	})
</script>


<!--<script>
	window.onload=function(){
		var cont=document.getElementById("cont");
		var aLi=cont.getElementsByTagName("li");

		for(var i=0;i<aLi.length;i++){
			aLi[i].children[0].onclick=function(){
				alert(this.nextSibling.nextSibling.nodeType);	
			}	
		}	
	}
</script>-->
</head>

<body>
<div class="job">
  <div class="header">
    <div class="top-pic"> <a href="#"><img src="../images/er_icon.png"></a> <a href="#"><img src="../images/Android_icon.png"></a> <a href="#"><img src="../images/Ios_icon.png"></a> </div>
    <div class="inner">
      <div class="logo"><a href="#"><img src="../images/logo.png"></a></div>
      <ul>
        <li><a href="../index.html">首页</a></li>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="#">全国服务热线/400-017-5886</a></li>
      </ul>
    </div>
  </div>
  <div class="banner">
  	<div class="inner">
		<img src="../images/recruit.png">
    </div>
  </div>
  <div class="main">
  	<div class="inner">
        <ul class="cont" id="cont">
            <li>
                <div class="title"><h1>人力资源总监（电商）<small>北京</small></h1></div>
                <div class="text">
                    <h2>岗位职责：</h2>
                    <p>1、 根据公司的实际情况和经营发展目标制定公司人力资源计划，并报公司审批;</p>  
                    <p>2、 达成人员招聘目标，完善公司组织架构，优化人力资源配置</p>
                    <p>3、 负责建立畅通并有效的沟通渠道以及有效的激励机制：建立有效的沟通渠道，就能及时了解员工的想法和建议，提高员工与公司的沟通效率;建立有效的激励机制，能激发员工的积极性和创造性，能为企业带来更大的收益。</p>
                    <p>4、 负责人力资源部门的日常工作，为公司招聘优秀合适的人才，组织员工参加培训，提高员工的能力，培养人才;负责员工的业绩考核工作;</p>
                    <p>5、 塑造维护和传播公司的企业文化，让员工对公司有更好的了解;</p>
                    <p>6、 处理公司的重大人力资源问题;</p>
                    <p>7、 完成领导交给的其他任务。</p>  
                    
                    <h2>任职要求：</h2>
                    <p>1、 人力资源管理或相关专业的本科以上学历;</p>  
                    <p>2、 5年以上人事管理经验，3年以上人力资源总监或人力资源部经理工作经验;</p> 
                    <p>3、 有很强的计划性和执行能力;</p> 
                    <p>4、 具有良好的沟通协调能力、组织能力。</p> 
                </div>
            </li>
            <li>
                <div class="title"><h1>销售总监<small>北京</small></h1></div>
                <div class="text">
                    <h2>岗位职责：</h2>
                    <p>1、 根据市场发展和公司战略规划与经营目标,制定公司整体销售战略、销售计划及量化销售目标，组织实施完整的营销计划，领导团队将计划转变为销售结果;</p>  
                    <p>2、 制定全年销售费用预算，引导和控制市场销售工作的方向和进度；负责制定本部门全年整体财务预算、控制以及激励考核制度</p>
                    <p>3、 分解销售任务指标，制定责任、费用评价办法，制定、调整销售运营政策；</p>
                    <p>4、 制度销售额、市场覆盖率、市场占有率等各项评价指标；分解销售任务指标、指定责任、费用评价办法</p>
                    <p>5、 组织部门开发多种销售手段，完成销售计划；</p>
                    <p>6、 销售团队建设，帮助建立、补充、发展、培养销售队伍 </p>
                    <p>7、 主持公司重大营销合同的谈判与签订工作；</p>  
                    <p>8、 深入了解快消行业，全面把握公司产品的市场状况，了解同业竞争策略与消费有效需求，向公司提供业务发展战略与决策依据;</p> 
                    <p>9、 负责与公司其他部门的工作协调、配合，建立规范、高效运营管理体系并优化、完善、监督与实施</p> 
                    
                    <h2>任职要求：</h2>
                    <p>1、30－40岁，大专以上学历，有良好的职业操守，品行优秀，综合素质高；</p>  
                    <p>2、 具有5年以上市场营销或管理工作经验；</p> 
                    <p>3、 具有快消品行业销售经验者优先，具有互联网营销工作经验者优先；</p> 
                    <p>4、 书面表达能力强，人际沟通能力强；</p> 
                    <p>5、具有较强的市场开拓与销售技能；</p>
                    <p>6、具备优秀的沟通能力和团队合作精神，组建和培训团队经验丰富，既往销售业绩优秀；</p>
                    <p>7、具备较强的时间管理能力和工作管理能力；</p>
                </div>
            </li>
            <li>
                <div class="title"><h1>运营总监（电商）<span>北京</span></h1></div>
                <div class="text">
                    <h2>岗位职责：</h2>
                    <p>1、 负责公司app移动产品的运营与维护工作，分析产品运营数据，对流量转化指标负责；</p>  
                    <p>2、 根据运营目标制定运营策略，推动产品规划和运营工作推进；</p>
                    <p>3、 负责策划并组织实施线上线下活动，提升产品的用户体验；</p>
                    <p>4、 通过数据发现产品问题和用户需求，结合用户反馈和调研，推动产品优化；</p>
                    <p>5、 负责监测、了解并分析合作伙伴需求，并给出相应对策；</p>
                    <p>6、 完成好领导交办的其他工作。</p> 
                    
                    <h2>任职要求：</h2>
                    <p>1、 本科及以上学历，新闻学、传播学或计算机等相关专业优先；</p>  
                    <p>2、 性格外向开朗、积极上进，具有较强的抗压能力；</p> 
                    <p>3、 具有良好的沟通表达能力、应变能力、组织协调能力与亲和力；</p> 
                    <p>4、 较强的数据分析能力，了解市场动态和目标用户心理。</p> 
                    <p>5、 热爱互联网行业，生鲜类移动产品运营工作者或对该行业有了解优先；</p>
                </div>
            </li>
            <li>
                <div class="title"><h1>android开发工程师<small>北京</small></h1></div>
                <div class="text">
                    <h2>岗位职责：</h2>
                    <p>1、 负责公司所有android相关产品的开发</p>  
                    <p>2、 不断的优化andriod产品的用户体验</p>
                    
                    <h2>任职要求：</h2>
                    <p>有扎实的Java,C/C++基础</p>  
                    <p>熟悉Android平台的GUI编程，丰富的界面设计经验</p> 
                    <p>三年以上的andriod开发经验</p> 
                    <p>精通主流的andriod机型的适配</p> 
                    <p>良好的分析能力，设计能力和学习能力</p>
                </div>
            </li>
            <li>
                <div class="title"><h1>财务总监（工厂）<small>唐山</small></h1></div>
                <div class="text">
                    <h2>岗位职责：</h2>
                    <p>1、 利用财务核算与会计管理原理为公司经营决策提供依据，协助总经理制定公司战略，并主持公司财务战略规划的制定；</p>  
                    <p>2、 建立和完善财务部门，建立科学、系统符合企业实际情况的财务核算体系和财务监控体系，进行有效的内部控制；</p>
                    <p>3、 制定公司资金运营计划，监督资金管理报告和预、决算；</p>
                    <p>4、 对公司投资活动所需要的资金筹措方式进行成本计算，并提供最为经济的酬资方式；</p>
                    <p>5、 塑造维护和传播公司的企业文化，让员工对公司有更好的了解;</p>
                    <p>5、 筹集公司运营所需资金，保证公司战略发展的资金需求，审批公司重大资金流向；</p>
                    <p>6、 主持对重大投资项目和经营活动的风险评估、指导、跟踪和财务风险控制；</p> 
                    <p>7、 协调公司同银行、工商、税务等政府部门的关系，维护公司利益；</p>
                    <p>8、 参与公司重要事项的分析和决策，为企业的生产经营、业务发展及对外投资等事项提供财务方面的分析和决策依据；</p>
                    <p>9、 审核财务报表，提交财务管理工作报告；</p> 
                    
                    <h2>任职要求：</h2>
                    <h3>教育背景:</h3>
                    <h4>◆会计、财务或相关专业大学本科以上学历。</h4>  
                    <h3>经 验:</h3> 
                    <h4>◆8年以上大型企业集团财务管理工作经验。</h4> 
                    <h3>技能技巧:</h3> 
                    <h4>◆具有较全面的财会专业理论知识、现代企业管理知识，熟悉财经法律法规和制度；</h4> 
                    <h4>◆熟悉财务相关法律法规、企业财务制度和流程；</h4> 
                    <h4>◆熟悉税法政策、营运分析、成本控制及成本核算；</h4> 
                    <h4>◆具有丰富的财务管理、资金筹划、融资及资本运作经验；</h4> 
                    <h4>◆良好的口头及书面表达能力；</h4>
                    <h3>技能技巧:</h3>  
                    <h4>◆工作细致、严谨，并具有战略前瞻性思维；</h4> 
                    <h4>◆具有较强的判断和决策能力、人际沟通和协调能力、计划与执行能力；</h4> 
                    <h4>◆具有较强的工作热情和责任感；</h4> 
                </div>
            </li>
            <li>
                <div class="title"><h1>人力资源总监（电商）<small>唐山</small></h1></div>
                <div class="text">
                    <h2>岗位职责：</h2>
                    <p>1、 根据公司的实际情况和经营发展目标制定公司人力资源计划，并报公司审批;</p>  
                    <p>2、 达成人员招聘目标，完善公司组织架构，优化人力资源配置</p>
                    <p>3、 负责建立畅通并有效的沟通渠道以及有效的激励机制：建立有效的沟通渠道，就能及时了解员工的想法和建议，提高员工与公司的沟通效率;建立有效的激励机制，能激发员工的积极性和创造性，能为企业带来更大的收益。</p>
                    <p>4、 负责人力资源部门的日常工作，为公司招聘优秀合适的人才，组织员工参加培训，提高员工的能力，培养人才;负责员工的业绩考核工作;</p>
                    <p>5、 塑造维护和传播公司的企业文化，让员工对公司有更好的了解;</p>
                    <p>6、 处理公司的重大人力资源问题;</p>
                    <p>7、 完成领导交给的其他任务。</p>  
                    
                    <h2>任职要求：</h2>
                    <p>1、 人力资源管理或相关专业的本科以上学历;</p>  
                    <p>2、 5年以上人事管理经验，3年以上人力资源总监或人力资源部经理工作经验;</p> 
                    <p>3、 有很强的计划性和执行能力;</p> 
                    <p>4、 具有良好的沟通协调能力、组织能力。</p> 
                </div>
            </li>
            <li>
                <div class="title"><h1>HR总监（工厂）<small>唐山</small></h1></div>
                <div class="text">
                    <h2>岗位职责：</h2>
                    <p>1、 5年以上大中型企业中高层管理经验，并有良好业绩。</p>  
                    <p>2、 责任感、原则性、全局观念、廉洁自律、事业心、认同公司企业文化。</p>
                    <p>3、 良好的行业管理理念，熟悉西方先进的企业管理模式。</p>
                    <p>4、 对市场营销、财务管理、行政管理、项目投资、企业融资、资本运营等有丰富的实际操作经验。</p>
                    <p>5、 具备卓越的战略眼光，政策制定及决断能力。</p>
                    <p>6、 卓越的全局统筹能力，综合协调能力。</p>
                    <p>7、 具有良好的团队建设管理能力。</p>  
 
                    <h2>类别岗位职责：</h2>
                    <p>1、 按照公司总体战略要求及经营发展目标，制定并实施公司人力资源战略及中长期人力资源规划。</p>  
                    <p>2、 建立完善的人力资源管理体系，制订和完善企业人力资源管理制度。</p>
                    <p>3、 向决策者提供有关人力资源战略、组织建设等方面的建议，并致力于提供企业整体管理水平。</p>
                    <p>4、 根据公司年度发展目标，组织制定公司年度人力资源工作计划及预算。</p>
                    <p>5、 负责建设人力资源岗位组织机构等方面的设置，并致力于提高公司综合管理水平，控制人力资源成本。</p>
                    <p>6、 协调和指导企业各部门的人员招聘、员工培训、绩效考核、薪酬福利等工作。</p>
                    <p>7、 根据公司文化及企业发展阶段，梳理、提炼公司的基本人才观念及用人标准，建设企业人才库及人才储备管理，保证企业所需人才及时到位。</p>
                    <p>8、 负责协助总裁进行高层人才的招聘引进工作。</p>
                    <p>9、 负责公司整体企业文化建设。</p>
                    <p>10、 负责中层以上管理人员的绩效考核及管理技能培训工作。</p>
                    <p>11、 负责审核中层以上人员的晋升、降职、离职、薪资、奖惩等工作。</p>
                    <p>12、 及时处理企业管理过程中的重大人力资源问题。</p>  

                    
                    <h2>任职要求：</h2>
                    <p>1、对现代企业人力资源管理模式有系统的了解和实践经验积累，对人力资源管理各个职能模块均有较深入的认识，能够指导各个职能模块的工作；</p>  
                    <p>2、具备现代人力资源管理理念和扎实的理论基础；</p> 
                    <p>3、熟悉国家、地区及企业关于合同管理、薪金制度、用人机制、保险福利待遇、培训等方面的法律法规及政策；</p> 
                    <p>4、熟悉办公软件及相关的人事管理软件；</p>
                    <p>5、具有战略、策略化思维，有能力建立、整合不同的工作团队；</p>
                    <p>6、具有解决复杂问题的能力；</p>
                    <p>7、很强的计划性和实施执行的能力；</p> 
                    <p>8、很强的激励、沟通、协调、团队领导能力，责任心、事业心强；</p>
                    <p>9、责任感、原则性、全局观念、廉洁自律、事业心、认同公司企业文化；</p>
                    <p>10、40—50岁 8年以上相关工作经验，3年以上人力资源总监或人力资源部经理工作经验 ；</p>
                </div>
            </li>
   		</ul>
    </div>
  </div>
  <div class="footer">
    <div class="inner"> <img src="../images/logo_icon.png">
      <p>北京哈哈镜电子商务有限公司</p>
      <p>哈哈镜©京ICP备12004406号  IDC提供商 数据家</p>
    </div>
  </div>
</div>
</body>
</html>
