<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>代售点加盟</title>
<link href="../css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="league">
  <div class="header">
    <div class="top-pic"> <a href="#"><img src="../images/er_icon.png"></a> <a href="#"><img src="../images/Android_icon.png"></a> <a href="#"><img src="../images/Ios_icon.png"></a> </div>
    <div class="inner">
      <div class="logo"><a href="#"><img src="../images/logo.png"></a></div>
      <ul>
        <li><a href="../index.html">首页</a></li>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="#">全国服务热线/400-017-5886</a></li>
      </ul>
    </div>
  </div>
  <div class="banner">
    <div class="inner">
      <div class="icon"><a href="#"> <img src="../images/agent.png"></a> </div>
      <ul>
        <li><a href="league_dealer.html">经销商加盟</a></li>
        <li><a href="league_online.html" >网上店铺加盟</a></li>
        <li><a href="league_agency.html" class="on">代售点加盟</a></li></ul>
    </div>
  </div>
  <div class="text">
    <div class="top">
      <h1>加盟须知</h1>
      <p><span>1</span>代售点需要具备便利店、超市、小卖店等饮食相关营业执照</p>
      <p><span>2</span>认可工厂企业内部文化，认可工厂及商城的商业文化及模式</p>
      <p><span>3</span>具有基础的电脑操作、手机操作应用常识</p>
      <p><span>4</span>公司标准型配送网上店铺要求：配送网上店铺具备12小时（早9点至晚9点）或全天24小时运营能力</p>
      <p><span>5</span>区域经销商网络设备要求：</p>
      <div class="pic"> <a href="#"> <img src="../images/icon_one.png"> <small>手续执照等</small> </a> <a href="#"> <img src="../images/icon_two.png".png"> <small>小型冷库</small> </a> <a href="#"> <img src="../images/icon_three.png".png"> <small>小型冷库</small> </a> <a href="#"> <img src="../images/icon_four.png"> <small>网络设备</small> </a> <a href="#"> <img src="../images/icon_five.png"> <small>24h全天候</small> </a>
        <div class="clear"></div>
      </div>
    </div>
    <div class="bot">
      <h1>郑重声明</h1>
      <p>若阁下有诚意加盟成为唐山挨个来食品有限公司产品销售点，请仔细并完整填写一下申请内容。<br/>
        我们将根据您所填写的资料加以详细的考虑，进行审核并与您探讨合作的可能性和计划性等相关事项。 </p>
      <span> 我司郑重承诺将妥善保管以下您所填写一切资料，绝对保密。<br/>
      同时我司所有经您阅览资料也同样需您承诺并绝对保密。 </span>
      <form>
        <input type="checkbox" class="checkbox">
        <small>本人同意以上承诺</small>
        <input type="submit" value="下一步" class="submit">
      </form>
    </div>
  </div>
  <div class="footer">
    <div class="inner"> <img src="../images/logo_icon.png">
      <p>北京哈哈镜电子商务有限公司</p>
      <p>哈哈镜©京ICP备12004406号  IDC提供商 数据家</p>
    </div>
  </div>
</div>
</body>
</html>
