<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>联系我们</title>
<link href="../css/base.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="supplier">
  <div class="header">
    <div class="top-pic"> <a href="#"><img src="../images/er_icon.png"></a> <a href="#"><img src="../images/Android_icon.png"></a> <a href="#"><img src="../images/Ios_icon.png"></a> </div>
    <div class="inner">
      <div class="logo"><a href="#"><img src="../images/logo.png"></a></div>
      <ul>
        <li><a href="../index.html">首页</a></li>
        <li><a href="contact.html">联系我们</a></li>
        <li><a href="#">全国服务热线/400-017-5886</a></li>
      </ul>
    </div>
  </div>
  <section class="banner">
    <div class="inner">
      <a href="#"> <img src="../images/supplier.png"> </a>
    </div>
  </section>
  <div class="main">
	<h1>供应商征集公告</h1>
    <h3>为进一步充实盒完善我公司采购工作，现征集合格供应商；加入我公司的供应商名录。</h3>
    <h3>现将有关事宜公告如下：</h3>
    <h2 style="padding-top:4px">一.采购物资范围</h2>
    <p>鸭产品、海鲜、蔬菜、豆制品、调味品、劳保用品、食品机械及零部件等。</p>
    <h2>二.供应商应当具备的条件</h2>
    <p><span>1</span>是依法注册成立的具有独立承担民事责任能力的企事业单位；</p>
    <p><span>2</span>遵守国家法律法规和我公司有关规定，具有良好的商业信誉；</p>
    <p><span>3</span>承诺遵守我公司廉洁协议的各项条款，坚持公开、公正、诚信、透明的原则，不以行贿等手段取不正当的竞争机会；</p>
    <p><span>4</span>具有健全的财务会计制度，能及时开具所需票据；</p>
    <p><span>5</span>愿意及时稳定的为我公司提供满足采购需求的产品，提供的产品符合我公司相应要求，并自愿接收我公司的监督管理；</p>
    <p><span>6</span>具有履行合同的能力和履行合同的良好记录；</p>
    <p><span>7</span>具有完善的质量保证体系盒良好的守候服务能力；</p>
    <p><span>8</span>近三年内，没有违纪违法等不良记录；</p>
    <p><span>9</span>代理商应具备我公司规定的资料盒有效的销售授权证明资料；</p>
    <p><span>10</span>法律、行政法规规定的其他条件.</p>
    <h2>三.联系方式</h2>
    <p>联系人：董金波</p>
    <p>联系电话：<a href="#">15931501984</a></p>
    <p>联系人：张守强</p>
    <p style="margin-bottom:61px">联系电话：<a href="#">13641040601</a></p>
  </div>
  <div class="footer">
    <div class="inner"> <img src="../images/logo_icon.png">
      <p>北京哈哈镜电子商务有限公司</p>
      <p>哈哈镜©京ICP备12004406号  IDC提供商 数据家</p>
    </div>
  </div>
</div>
</body>
</html>
